td.list-box, th.list-box  
{
    padding: 20px;
}

a.listItem{
    /*display:block;
    margin-bottom: 3px;*/
    padding: 3px 5px 3px 5px;
    margin-left: 4px;
    font-size: 14px;
   
    vertical-align:middle;
}

a.listItem:hover{
    text-decoration: none;
    background: #d0e9c6;
}

a.listItem:visited{
    text-decoration: none;
}

a.listItem:active{
    text-decoration: none;
}
.selected{
    background: #d0e9c6;
}

table.relations th{
    vertical-align: top;
    text-align: left;
}

table.relations td{
    vertical-align: top;
    width: 33%;
}

.checkboxContainer{
    /*background-color:#d0e9c6;*/
    margin-bottom: 5px;
    padding-bottom:4px;
}

.checkboxContainer input{
 /*width: 20px;*/
 vertical-align:top;
}

.checkboxContainer span{
   font-size: 14px;
   vertical-align:middle;
}

.iit-centre-domains p{
 font-size: 4px;   
}

i.fa{
    font-size: 15px; 
        margin-left:5px;
}

#addModal
{
    width: auto !important;
    left: 50% !important;
    margin-left: -400px;
    /*right: 30% !important;*/
}

.modal-row
{
    margin-top:20px;
}

.modal-dialog{
    /*float: left;*/
    padding:20px;
    /*width: 80% !important;
    height: 80% !important*/
}

.modal-header{
    display:table;
    width:100%;
    overflow: hidden;
    padding:0 !important;
}

.modal-body{
    /*display:block;*/
    max-height: 80vh !important;
    overflow-y: scroll;
}

.fields-group{
    display: table-row;
    vertical-align:top;
    
}

.modal-column{
    display: table-cell;
    /*padding-right: 40px;*/
    vertical-align: top;
    
}



.modal-table td{
    padding-left: 30px;
    vertical-align: top;
}

#line-domain-fields td{
    width: 50%;
}

#line-domain-fields textarea{
    width: 80%;
}

#center-fields td{
    width: 33%;
}